@mixin quartered ( $baseColor, $baseOpacity, $baseSize ) {
  .loading:empty:before,
  .loading:empty:after {
    animation: loading 2s infinite linear;
    border: $baseSize solid rgba($baseColor, $baseOpacity);
    border-radius: $baseSize;
    margin-left: -($baseSize / 2);
    margin-top: -($baseSize / 2);
  }

  @keyframes loading {
    0% {
      transform: rotate(0) scale(1);
      border-top-color: rgba($baseColor, 1);
    }

    25% {
      transform: rotate(90deg) scale(1.1);
      border-top-color: rgba($baseColor, $baseOpacity);
    }

    50% {
      transform: rotate(180deg) scale(1);
      border-top-color: rgba($baseColor, 1);
    }

    75% {
      transform: rotate(270deg) scale(1.1);
      border-top-color: rgba($baseColor, $baseOpacity);
    }

    100% {
      transform: rotate(360deg) scale(1);
      border-top-color: rgba($baseColor, 1);
    }
  }
}
