@mixin quartered ( $baseColor, $baseOpacity, $baseSize ) {
  .loading:empty:before,
  .loading:empty:after {
    @include prefixAttribute ( animation, loading 2s infinite linear );
    border: $baseSize solid rgba( $baseColor, $baseOpacity );
    border-radius: $baseSize;
    margin-left: -( $baseSize / 2 );
    margin-top: -( $baseSize / 2 );
  }

  @include animation ( loading ) {
    0% {
      @include prefixAttribute ( transform, rotate( 0 ) scale( 1 ) );
      border-top-color: rgba( $baseColor, 1 );
    }

    25% {
      @include prefixAttribute ( transform, rotate( 90deg ) scale( 1.1 ) );
      border-top-color: rgba( $baseColor, $baseOpacity ) ;
    }

    50% {
      @include prefixAttribute ( transform, rotate( 180deg ) scale( 1 ) );
      border-top-color: rgba( $baseColor, 1 );
    }

    75% {
      @include prefixAttribute ( transform, rotate( 270deg ) scale( 1.1 ) );
      border-top-color: rgba( $baseColor, $baseOpacity );
    }

    100% {
      @include prefixAttribute ( transform, rotate( 360deg ) scale( 1 ) );
      border-top-color: rgba( $baseColor, 1 );
    }
  };
}
